<mat-toolbar color="primary" class="toolbar">
  <div class="toolbar-content">
    <div class="toolbar-left">
      <mat-icon class="logo-icon">insights</mat-icon>
      <span class="app-name" routerLink="/datasets/new">InsightEngine</span>
    </div>
    <div class="toolbar-right">
      <button mat-button routerLink="/datasets/new">
        <mat-icon>upload_file</mat-icon>
        <span>Novo Dataset</span>
      </button>
    </div>
  </div>
</mat-toolbar>

<div class="main-content">
  <router-outlet></router-outlet>
</div>

<footer class="footer">
  <div class="container">
    <p>InsightEngine © 2026 - Data Visualization Platform</p>
  </div>
</footer>
